# Database
Django==1.7.10
dj-database-url==0.3.0
djorm-pgarray==1.0.4
jsonfield==0.9.23  # 1.0.0 uses text column type
psycopg2==2.5.4

# Scraper
-e git://github.com/jpmckinney/ckanapi.git@requests#egg=ckanapi
logutils==0.3.3
lxml==3.3.5
pycurl==7.19.5.1
rdflib==4.1.2
requests==2.6.0
requests-cache==0.4.7
requests-futures==0.9.5

# Report
pandas==0.15.2

# Development
autopep8
flake8
ipython
