# Database
Django==1.7.1
dj-database-url==0.3.0
djorm-pgarray==1.0.4
jsonfield==0.9.23  # 1.0.0 uses text column type
psycopg2==2.5.4

# Scraper
-e git://github.com/ckan/ckanapi.git#egg=ckanapi
logutils==0.3.3
lxml==3.3.5
rdflib==4.1.2
requests==2.4.0
requests-cache==0.4.5

# Development
autopep8
flake8
ipython
